## Section-1, 2 & 3

Create Virtual Environment by various ways:
- Python ways:
1. python -m venv myenv
2. myenv\Scripts\activate
- Python version change ways:
1. pip install virtualenv
2. virtualenv -p python3 virtual_env
3. virtual_env\Scripts\activate
- Anaconda way:
1. conda create -p venv python==3.12
2. conda activate venv/

In [7]:
## Line Continuation:
## Use backslash (\) to continue the statement
total = 1+2+3+4+5+\
9+8+7+6
print(total)

45

In [8]:
## Multiple statements on a single line:
x=5;y=10;z=x+y
print(z)

15

In [9]:
age = 32
if age> 30:
    pass
print("Age:",age)

Age: 32

- Syntax dictates the grammatical rules for writing the valid code.
- Semantic define what the valid code actually done. Ex: Execution Flow, Variable & Object Management, operator behavior.

In [10]:
# Input statement: 
Name = input("What is your name: ")
print(Name, type(Name))

Ayush <class 'str'>

In [11]:
# Help us to find your Age:
birth_year = int(input("What is your Birth year: "))
curr_year = int(input("Current year: "))
print("Your Age is ", curr_year-birth_year, type(curr_year-birth_year))

Your Age is  29 <class 'int'>

In [12]:
a = 10
b = 10
type(a==b)

bool

In [13]:
bool()

False

In [14]:
result = 'Hello' + str(5)
result

'Hello5'

In [15]:
# input and sort list numbers:

numbers = [int(x) for x in input("Enter the number to separeted by comma: ").split(',')]
numbers.sort()
print(f"sorted list: {numbers}")

sorted list: [1, 2, 3, 4, 5, 6]

In [16]:
# Calculate sum of 1st N numbers using while:
sums=0
count=1
n=10
while n>=count:
    sums += count
    count +=1
print(sums)

55

In [17]:
# prime number bwt 1 to 100:
n = 10
for num in range(1,n+1):
    if num>1:
        for i in range(2,num):
            if num%i ==0:
                break
        else:
            print(num)

2
3
5
7

In [18]:
def cal_dis(price, dis):
    try:
        assert 0<=dis<=1, "Discount must be between 0 and 1."
        return price*(1-dis)
    except AssertionError as e:
        print('Error: ',e)

In [19]:
cal_dis(100,10)

Error:  Discount must be between 0 and 1.

In [20]:
def check_age(age):
    if age<18:
        raise ValueError('Age must be greater then 18.')
try: 
    age = int(input("Enter your Age: "))
    check_age(age)
except ValueError as e:
    print("Error: ", e)
else:
    print("Your age is : ", age)
finally:
    print("Finally code over!!")

Your age is :  27
Finally code over!!

In [21]:
lst = [1,2,3] *3
lst

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Section - 4:

### List:

In [22]:
fruits = ['apple', 'banana','orange']
fruits.insert(1, 'cherry')
fruits

['apple', 'cherry', 'banana', 'orange']

In [23]:
fruits.remove('cherry')
# fruits.counts('banana')
fruits

['apple', 'banana', 'orange']

In [24]:
fruits.count('banana')
fruits.sort()
fruits

['apple', 'banana', 'orange']

In [25]:
fruits.reverse()
fruits

['orange', 'banana', 'apple']

In [26]:
num= [1,2,3,4,5,6,7,8,9,10]
num[::-2]

[10, 8, 6, 4, 2]

In [27]:
for index,number in enumerate(num):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [28]:
lst = [x**2 for x in num]
lst = [x**2 for x in num if x%2==0]
lst = [(x,y) for x in range(5) for y in range(5)]
lst

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

### Tuples:

In [29]:
# packing:
pack1 = 1,2,3
pack2 = 1,'hello',2,'world',3

In [30]:
# unpacking:
a,b,c = pack1

# multiple unpacking:
z, *y, x = pack2

In [31]:
print('a: ',a)
print('b: ',b)
print('c: ',c)
# multiple values return 
print('z: ',z)
print('y: ',y)
print('x: ',x)

a:  1
b:  2
c:  3
z:  1
y:  ['hello', 2, 'world']
x:  3

In [32]:
m = (1,2,3)*3
m

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Set:

In [33]:
myset = {1,23,4,5,1,3}
myset.add(1)
myset

{1, 3, 4, 5, 23}

In [34]:
myset.remove(23)
myset

{1, 3, 4, 5}

In [35]:
myset.discard(10)
myset

{1, 3, 4, 5}

In [36]:
rem_elm = myset.pop()
print(rem_elm)
print(myset)

1
{3, 4, 5}

In [37]:
myset.clear()
myset

set()

In [38]:
ms = {1,2,3,4,5,6,7,8,9,0}
print(10 in ms)
print(1 in ms)

False
True

In [39]:

## Mathematical Operation:

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

## Union 

uni = s1.union(s2)
print(uni)

# intersection:
inter = s1.intersection(s2)
print(inter)

# intersection update:
print(s1)
s1.intersection_update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3, 4, 5}

In [40]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
dif = s1.difference(s2)
print(dif)

{1, 2}

In [41]:
s1.difference_update(s2)
s1

{1, 2}

In [42]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
sym = s1.symmetric_difference(s2)
print(sym)
s1.symmetric_difference_update(s2)
s1

{1, 2, 6, 7}

{1, 2, 6, 7}

In [43]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

print(s1.issubset(s2))
print(s1.issuperset(s2))

False
True

In [44]:
## Counting Unique words in text:

text = "In this sets tutorial we are discussing about tutorial sets"
words = text.split()
print("words: ",words)
unique = set(words)
print('Unique Words: ',unique)
print(len(unique))

words:  ['In', 'this', 'sets', 'tutorial', 'we', 'are', 'discussing', 'about', 'tutorial', 'sets']
Unique Words:  {'we', 'this', 'In', 'tutorial', 'discussing', 'about', 'sets', 'are'}
8

### Dictionaries:

In [85]:
# Single key is always used:

dic = {'name': 'Ayu', 'age': 22, 'name': 'Ayush'}
dic

{'name': 'Ayush', 'age': 22}

In [89]:
# get() method for dictionary:

student = {'name': 'Ayu', 'age': 22, 'grade': 'A'}
print(student.get('grade'))
print(student.get('class'))
print(student.get('class', 'Not Available'))

A
None
Not Available

In [91]:
# Dictionary is Mutable:
student['age'] = 27
student['address'] = 'India'
student

{'name': 'Ayu', 'age': 27, 'grade': 'A', 'address': 'India'}

In [92]:
# Delete key:

del student['grade']
student

{'name': 'Ayu', 'age': 27, 'address': 'India'}

In [94]:
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Ayu', 27, 'India'])
dict_items([('name', 'Ayu'), ('age', 27), ('address', 'India')])

In [97]:
## Shallow Copy:
stu = student
print('stu: ', stu)
student['name'] = 'Ayu2'
print('student: ', student)
print('stu: ', stu)

stu:  {'name': 'Ayu3', 'age': 27, 'address': 'India'}
student:  {'name': 'Ayu2', 'age': 27, 'address': 'India'}
stu:  {'name': 'Ayu2', 'age': 27, 'address': 'India'}

In [ ]:
## Deep copy: 
stu2 = student.copy()
print('stu2: ', stu2)
student['name'] = 'Ayu3'
print('student: ', student)
print('stu2: ', stu2)

stu2:  {'name': 'Ayu2', 'age': 27, 'address': 'India'}
student:  {'name': 'Ayu3', 'age': 27, 'address': 'India'}
stu2:  {'name': 'Ayu2', 'age': 27, 'address': 'India'}

In [99]:
# Nested dictionary:
School = {
    'student1' : {'name': 'Ayu', 'age': 22, 'grade': 'A'},
    'student2' : {'name': 'Pri', 'age': 20, 'grade': 'A'},
    'student3' : {'name': 'AP', 'age': 18, 'grade': 'A'},
}

In [101]:
for student_id, student_info in School.items():
    print(f"StudentId: {student_id}, Student Info: {student_info}")

    for k, v in student_info.items():
        print(f"{k}: {v} ")

StudentId: student1, Student Info: {'name': 'Ayu', 'age': 22, 'grade': 'A'}
name: Ayu
age: 22
grade: A
StudentId: student2, Student Info: {'name': 'Pri', 'age': 20, 'grade': 'A'}
name: Pri
age: 20
grade: A
StudentId: student3, Student Info: {'name': 'AP', 'age': 18, 'grade': 'A'}
name: AP
age: 18
grade: A

In [105]:
# Dictionary Comphrehension:

num = [1,2,8,6,4,3,4,5,6,7,7,6,5,4,3,2,1,1,2,3,8,2,3,1,4,6,7,4,2,1,1]

count_dict = {x: num.count(x) for x in num}
print(count_dict)

{1: 6, 2: 5, 8: 2, 6: 4, 4: 5, 3: 4, 5: 2, 7: 3}

In [ ]:
# Merge 2 dictionaries:

d1 = {'a': 1, 'b': 2}
d2 = {'a': 1, 'c': 3}
merge_dict= {**d1, **d2}
print(f"merge_dict: {merge_dict}")

md2 = d1|d2
print(f"merge_dict 2: {md2}")

merge_dict: {'a': 1, 'b': 2, 'c': 3}
merge_dict 2: {'a': 1, 'b': 2, 'c': 3}

#### Real world usecases:

In [113]:
# collect feedback: 

feedback = ['excellent work!', 'Great service!!', 'could be better', 'Very Setisfied']

# adding new feedback:
feedback.append('Worst experiance')

# counting specific feedback:
positive_feedback_count = sum(1 for comm in feedback if 'great' in comm.lower() or 'excellent' in comm.lower() )
print(f"Positive Feedback count: {positive_feedback_count}")

# printing all feedback
print("User Feedback: ")
for i in feedback:
    print(f"- {i}")

Positive Feedback count: 2
User Feedback:
- excellent work!
- Great service!!
- could be better
- Very Setisfied
- Worst experiance

## Section 5:

In [116]:
# Functions can return multiple parameters:

def multiply(a,b):
    return a*b, a, b

multiply(1,2)

(2, 1, 2)

In [124]:
# Checking for Password is weak or strong:

def check_pass(new_pass):
    """ This Function is check if new password is strong or weak. """

    if not any(i.isdigit() for i in new_pass):
        return False
    if not any(i.isupper for i in new_pass):
        return False
    if not any(i.islower for i in new_pass):
        return False
    if not any(i in "~!@#$%^&*(){}:?><,.;\'\"" for i in new_pass):
        return False
    else:
        return True

print(check_pass(input('Write your Password: ')))

True

In [126]:
# String Palandrome:

string = 'A man a plan a canal Panama'

def check_palan(s):
    s = s.lower().replace(' ','')
    return s==s[::-1]

print(check_palan(string))

True

In [129]:
# Factorial Recursion function:

def fact(num):
    if num==1 or num==0:
        return 1
    else:
        return (num * fact(num-1))
print(fact(3))

6

In [151]:

# character & Word count in file: 

def word_count(file_path):
    words_dic = {}
    with open(file_path, 'r') as file: 
        for line in file:
            lst_line = line.strip().split()
            for word in lst_line:
                word = word.lower().strip(' !@#$%^&*()_+')
                # words_dic[word] = words_dic.get(word,0)+1
                for i in word:
                    words_dic[i] = words_dic.get(i, 0) +1
    
    return words_dic

file_path = 'test.txt'
print(word_count(file_path))

{'1': 47, '2': 9, '0': 80, 'h': 2, 'e': 4, 'l': 4, 'o': 7, 'w': 5, 'r': 5, 'd': 3, ',': 1, 'm': 2, 'y': 2, 'n': 2, 'a': 4, 'i': 4, 's': 3, 'u': 2, 'p': 2, 'c': 1, 't': 1}

In [152]:
string = '            !@#$      A man !@#$a plan a-_canal Panama!@#$'
string.strip(' A!@#$%^&*()__+\'"').split()

['man', '!@#$a', 'plan', 'a-_canal', 'Panama']

In [154]:
# Validate email address: 

import re

def validate_email(email):

    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-]+$'
    return re.match(pattern, email) is not None

typeemail = input('Enter your email : ')
print(f'Your email: {typeemail}  is {validate_email(typeemail)}')

Your email: ayushsilarpuria@gmail.com  is True

#### Lambda Function in Python:

In [46]:
# lambda arguments: expression

In [47]:
addition = lambda a,b : a+b
type(addition)
print(addition(5,6))

11

In [48]:
even1 = lambda num: num%2 ==0
print(even1(12))

True

In [49]:
add = lambda x,y,z : x+y*z
add(12,13,14)

194

In [50]:
# map():

In [51]:
num = [1,2,3,4,5,6,7,8,9,10]
sqr = map(lambda z: z**2, num)
list(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
n1 = [1,2,3]
n2 = [4,5,6]

add_multi_itr = map(lambda x,y: x+y, n1,n2)
print(list(add_multi_itr))

[5, 7, 9]

In [53]:
str_num = ['1','2','3','4','5','6']
int_num = list(map(int,str_num))
print(int_num)

[1, 2, 3, 4, 5, 6]

In [54]:
words = ['apple','banana', 'cherry']
up_wrd = list(map(str.upper, words))
print(up_wrd)

['APPLE', 'BANANA', 'CHERRY']

In [55]:
people = [
    {'name':'Ayush', 'age':29},
    {'name':'Jack', 'age': 33}
]

list(map(lambda x: x['name'], people))

['Ayush', 'Jack']

In [56]:
def get_name(person):
    return person['name']
list(map(get_name, people))

['Ayush', 'Jack']

In [57]:
# Filter:

In [58]:
lst= [1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(lambda x:x%2==0, lst))

[2, 4, 6, 8, 10, 12]

In [59]:
list(filter(lambda x: x>5 and x%2==0, lst))

[6, 8, 10, 12]

In [60]:
people = [
    {'name':'Ayush', 'age':29},
    {'name':'Jack', 'age': 33},
    {'name':'Jone', 'age': 35}
]

list(filter(lambda person:person['age']<35,people))

[{'name': 'Ayush', 'age': 29}, {'name': 'Jack', 'age': 33}]

### Module 4: Advanced Functions Assignments

Assignment 1: Fibonacci Sequence with Memoization
- Define a recursive function to calculate the nth Fibonacci number using memoization. Test the function with different inputs.

In [61]:
def fibonacci(num):
    a=0
    b=1
    lst = [0,1]
    if num <= 1:
        return lst
    else:
        count = 1
        while num>count:
            count += 1
            c = a+b
            a = b
            b = c
            lst.append(b)
    return lst

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [62]:
def fibo(n, mem = []):
    if n in mem:
        return mem[n]
    if n<=1:
        return n
    return fibo(n-1,mem) + fibo(n-2, mem)
print(fibo(10))
print(fibo(15))

55
610

Assignment 2: Function with Nested Default Arguments
- Define a function that takes two arguments, a and b, where b is a dictionary with a default value of an empty dictionary. The function should add a new key-value pair to the dictionary and return it. Test the function with different inputs.

In [156]:
def nest(a,b=None):
    if b is None:
        b={}
    b[a] = a**2
    return b

print(nest(2))
print(nest(3,{1:1}))

{2: 4}
{1: 1, 3: 9}

Assignment 3: Function with Variable Keyword Arguments
- Define a function that takes a variable number of keyword arguments and returns a dictionary containing only those key-value pairs where the value is an integer. Test the function with different inputs.

In [64]:
def variable(**kwargs):
    return {k:v for k,v in kwargs.items() if isinstance(v,int)}
print(variable(a=1,b='a',c='2',d=9.4))

print(variable(a=int('1'),b='a',c=44,d=9.4))

{'a': 1}
{'a': 1, 'c': 44}

Assignment 4: Function with Callback
- Define a function that takes another function as a callback and a list of integers. The function should apply the callback to each integer in the list and return a new list with the results. Test with different callback functions.

In [65]:
lst = [1,2,3,4]
def cb(callback, llstt):
    return [callback(i) for i in llstt]
print(cb(lambda i: i**2, lst))
print(cb(lambda i: i+2, lst))

[1, 4, 9, 16]
[3, 4, 5, 6]

Assignment 5: Function that Returns a Function
- Define a function that returns another function. The returned function should take an integer and return its square. Test the returned function with different inputs.

In [66]:
def func():
    return lambda x: x**2
var = func()
print(var(2))

4

In [67]:
def outer():
    def inner(x):
        return x**2
    return inner

sqr = outer()
print(sqr(2))

4

Assignment 6: Function with Decorators
- Define a function that calculates the time taken to execute another function. Apply this decorator to a function that performs a complex calculation. Test the decorated function with different inputs.

In [68]:
import time
def decorat(fn):
    def wrap(*args, **kwargs):
        t_start = time.time()
        print(f"Time Start {t_start}")
        result = fn(*args, **kwargs)
        t_end = time.time()
        print(f"Time End {t_end}")
        print(f"Time taken {t_end - t_start}")
        return result
    return wrap

@decorat
def power(a):
    return sum(x**2 for x in range(a))
print(power(10000))

Time Start 1758214929.0783396
Time End 1758214929.084278
Time taken 0.005938529968261719
333283335000

Assignment 7: Higher-Order Function for Filtering and Mapping
- Define a higher-order function that takes two functions, a filter function and a map function, along with a list of integers. The higher-order function should first filter the integers using the filter function and then apply the map function to the filtered integers. Test with different filter and map functions.

In [69]:
def decorator(lst_int):
    fi = list(filter(lambda x: isinstance(x,int),lst_int))
    mapi = list(map(lambda x: isinstance(x,int),lst_int))
    print(f'Filter: {fi}')
    print(f'Map: {mapi}')
    return fi
lst = [1,2,3,'b',4,5,6,'a']
dec = decorator(lst)
print(f'{dec}')

Filter: [1, 2, 3, 4, 5, 6]
Map: [True, True, True, False, True, True, True, False]
[1, 2, 3, 4, 5, 6]

In [70]:
def high_ord(fil_fun, map_fun, lst):
    return [map_fun(x) for x in lst if fil_fun(x)]

print(high_ord(lambda x: x%2==0, lambda x: x**2,[1,2,3,4,5]))
print(high_ord(lambda x: x>2, lambda x: x+2,[1,2,3,4,5]))

[4, 16]
[5, 6, 7]

Assignment 8: Function Composition
- Define a function that composes two functions, f and g, such that the result is f(g(x)). Test with different functions f and g.

In [71]:
def compose(f,g):
    return lambda x: f(g(x))

f = lambda x: x+1
g = lambda x: x*2
h = compose(f,g)
print(h(3))
print(h(4))

7
9

Assignment 9: Partial Function Application
- Use the functools.partial function to create a new function that multiplies its input by 2. Test the new function with different inputs.

In [72]:
from functools import partial

multiply_input = partial(lambda x,y: x*y, 2)
print(multiply_input(3))

6

In [73]:
from functools import partial
happy = partial(print, end =':)\n')
happy('hello')
happy('world')

hello:)
world:)

In [ ]:
from functools import wraps

def decorator(func):
    @wraps(func)
    def wrpper(*args, **kwargs):
        print("Inside Wrapper")
        value = func(*args, **kwargs)
        print("Going Out Wrapper")
        return value
    return wrpper

@decorator
def greetings():
    '''this is greeting fucntion'''
    print('Hello')
print(greetings.__name__)
print(greetings.__doc__)

greetings
this is greeting fucntion

In [75]:
def greet(name: str) -> str:
    return f"Hello, {name}"
print(greet(123))

Hello, 123

Assignment 10: Function with Error Handling¶
- Define a function that takes a list of integers and returns their average. The function should handle any errors that occur (e.g., empty list) and return None in such cases. Test with different inputs.

In [76]:
def avg(lst):    
        average = sum(lst) / len(lst)
        return average
ll = [1,2,3]

try:
    print(avg(ll))
except Exception as e:
    print(f'error: {e}')
else:
    print('Average calculated Successfully..!!')
finally:
    print(f'This is average calculation..!!')

2.0
Average calculated Successfully..!!
This is average calculation..!!

In [77]:
def average(lst):
    try:
        return sum(lst)/len(lst)
    except ZeroDivisionError:
        return None
print(average([1,2,3,4,5]))
print(average([]))

3.0
None

Assignment 11: Function with Generators
- Define a function that generates an infinite sequence of Fibonacci numbers. Test by printing the first 10 numbers in the sequence.

In [78]:
def fib():
    a,b = 0,1
    while True:
        yield a
        a,b = b, a+b

f = fib()
for i in range(10):
    print(next(f))

0
1
1
2
3
5
8
13
21
34

In [79]:
def countt(max):
    cnt = 1
    while max>cnt:
        yield cnt
        cnt += 1
crt = countt(5)
for i in crt:
    print(i)

1
2
3
4

In [80]:
def fibb(n):
    a,b = 0,1
    cnt = 1
    while n>=cnt:
        cnt += 1
        yield a
        a,b = b,a+b

f = fibb(10)
for i in f:
    print(i)

0
1
1
2
3
5
8
13
21
34

Assignment 12: Currying
- Define a curried function that takes three arguments, one at a time, and returns their product. Test the function by providing arguments one at a time.

In [81]:
def curry_product(a):
    def outer_prod(b):
        def inner_prod(c):
            return a*b*c
        return inner_prod
    return outer_prod
print(curry_product(4)(2)(3))
print(curry_product(1)(5)(6))

24
30

Assignment 13: Function with Context Manager
- Define a function that uses a context manager to write a list of integers to a file. The function should handle any errors that occur during file operations. Test with different lists.

In [82]:
def write_file(lst, file_n):
    try:
        with open(file_n, 'w') as f:
            for num in lst:
                f.write(f"{num}\n")
    except IOError as e:
        print(f"An exception error occure: {e}")
l = [1,2,3,4,5]
file_n = 'test.xlsx'
write_file(l, file_n)

with open(file_n) as r:
    print(r.read())

1
2
3
4
5

Assignment 14: Function with Multiple Return Types
- Define a function that takes a list of mixed data types (integers, strings, and floats) and returns three lists: one containing all the integers, one containing all the strings, and one containing all the floats. Test with different inputs.

In [83]:
def mix_dt(lst):
    ints, strs, flts = [],[],[]
    for i in lst:
        if isinstance(i, int):
            ints.append(i)
        elif isinstance(i, str):
            strs.append(i)
        elif isinstance(i, float):
            flts.append(i)
    return ints, strs, flts

l = [1,2,4.4,2.67,'a','Hello']
print(mix_dt(l))

([1, 2], ['a', 'Hello'], [4.4, 2.67])

Assignment 15: Function with State
- Define a function that maintains state between calls using a mutable default argument. The function should keep track of how many times it has been called. Test by calling the function multiple times.

In [84]:
def call_counter(counter={'count':0}):
    counter['count'] += 1
    return counter['count']

call_counter()
call_counter()
call_counter()
call_counter()
print(call_counter())
print(call_counter())
print(call_counter())
print(call_counter())

5
6
7
8

## Section - 8:

#### Modules and Packages:

In [16]:
from math import sqrt, pi
print(pi)
print(sqrt(4))

3.141592653589793
2.0

In [13]:
from Package.maths import addition
print(addition(9,2))

11

In [15]:
from Package import maths 
print(maths.addition(4,4))

8

#### Standard Libraries Overview:

In [22]:
# Array: 
import array as ar
a = ar.array('i', [1,2,3,4,5])

a.reverse()
print(*a)

5 4 3 2 1

In [23]:
import math

print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [29]:
import random

print(random.randint(1,10))

l1 = [1,2,3,4,5]
print(random.choice(l1))
random.seed(5)
print(random.random())

6
5
0.6229016948897019

In [31]:
# os
import os

cwd = os.getcwd()
print("Current Dir: ", cwd)

# make dir : 
# os.mkdir('test')

Current Dir:  d:\Projects\R&D\Python_Bootcamp\ds,ml,dl,nlp

In [ ]:
# listing files and dir
items = os.listdir('.')
print(items)

['.ipynb_checkpoints', 'Assignment', 'example.csv', 'Package', 'python_debugger.py', 'Section_1_to_10.ipynb', 'test.py', 'test.txt', 'test.xlsx', 'test_copy.txt']

In [71]:
# join path: 

dir_name = 'folder'
file_name = 'test.txt'
full_path = os.path.join(dir_name, file_name)
print(full_path)

folder\test.txt

In [72]:
dir_name = 'folder'
file_name = 'test.txt'
full_path = os.path.join(os.getcwd(), file_name)
print(full_path)

d:\Projects\R&D\Python_Bootcamp\ds,ml,dl,nlp\test.txt

In [73]:
file_name = 'test.txt'
if os.path.exists(file_name):
    print(f"The file path {file_name} exists.")
else: 
    # os.mkdir(file_name)
    print(f"The file path {file_name} does not exists.")

The file path test.txt exists.

In [76]:
path = 'test.txt'
if os.path.isfile(path):
    print(f"The path {path} is file.")
elif os.path.isdir(path):
    print(f"The path {path} is directory.")
else: 
    print(f"The path {path} is neither a file nor a directroy.")

The path test.txt is file.

In [77]:
## Getting the absolute path (full path):

relative_path = 'test.txt' # shot path name
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

d:\Projects\R&D\Python_Bootcamp\ds,ml,dl,nlp\test.txt

In [32]:
# High level operations on files and collections of files:

import shutil
shutil.copyfile('test.txt', 'test_copy.txt')

'test_copy.txt'

In [35]:
# Data Serialization:

import json

data = {'name': 'Ayu', 'age': 25}

json_str = json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Ayu", "age": 25}
<class 'str'>
{'name': 'Ayu', 'age': 25}
<class 'dict'>

In [36]:
## csv: 

import csv

with open('example.csv', mode = 'w', newline = '') as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'age'])
    writer.writerow(['Ayu', 25])
    writer.writerow(['Pri', 22])

with open('example.csv', mode = 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Ayu', '25']
['Pri', '22']

In [38]:
# datetime :
from datetime import datetime, timedelta

now = datetime.now()
print(now)

yest = now-timedelta(days = 1)
print(yest)

2025-09-20 21:21:38.745366
2025-09-19 21:21:38.745366

In [39]:
# time: 

import time 
start = time.time()
print(start)
end = time.time()
print(end)
time_diff = end - start
print(time_diff)

1758383600.9087093
1758383600.9095619
0.0008525848388671875

In [45]:
# Regular expression: 
import re

pattern = r'\d+'
text = 'There are 123 apples 456'
search = re.search(pattern, text)
print(search.group())

find = re.findall(pattern, text)
print(find)

123
['123', '456']

## Section - 9:

In [47]:
# Read file :

with open('test.txt', 'r') as file:
    # content = file.read()
    content = file.readline()
    print(content)

1212221111221212

In [49]:
# open line by line: 
with open('test.txt', 'r') as file:
    for line in file:
        print(line.strip())

1212221111221212
1201010101000099
0101000010000010
0010000010000010
0010010010010010

hello world , my name is ayush
a power is i power a
I count world word

0010010010010010
1010100010100000
1001000101001000
1010100101010010
0101001010010011

In [ ]:
# write a file overwriting : 

with open('test.txt', 'w') as file:
    file.write("Hello World\n")
    file.write("New line just print...!!")

In [55]:
# Write a file without overwriting: 

with open('test.txt', 'a') as file: 
    file.write("\nThis is append line\n")

In [56]:
# write a list of line  to a file : 
lines = ["1st line \n", "2nd Line \n", "3rd Line\n"]
with open('test.txt', 'a') as file: 
    file.writelines(lines)

In [57]:
## Binary file: 
# read file = 'rb'
# write file = 'wb'

In [59]:
# coping file : 

with open('test.txt', 'r') as source:
    content = source.read()

with open('test_copy.txt', 'w') as destination: 
    destination.write(content)

In [68]:
# Read a text file and count the number of lines, words, and characters: 

def counting(file_path):

    with open(file_path, 'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        # word_count = sum(len(line.strip()) for line in lines)
        word_count = sum(len(line.strip().split(' ')) for line in lines)
        char_count = sum(len(line) for line in lines)

    return line_count, word_count, char_count

file_path = 'test.txt'
lines, words, characters = counting(file_path)
print(f"Lines: {lines}, Words: {words}, Characters: {characters}")

Lines: 10, Words: 26, Characters: 135

In [ ]:
# Writing and then reading file:

with open('test.txt', 'w+') as file: 
    file.write("Hello World\n")
    file.write("New line just print...!!")

    # Move the file cursor to the beginning: 
    file.seek(0)

    # read file: 
    content= file.read()
    print(content)

Hello World
New line just print...!!

## Section - 10:

In [80]:
try: 
    a = 1/2
    a= b
except ZeroDivisionError as ex: 
    print(ex)
    print("Please enter the denominator greater then 0.")

except Exception as exx: # this except any type of error
    print(exx)
    print("The Main excetion caught here.")

name 'b' is not defined
The Main excetion caught here.

In [ ]:
# File Handling and Exception Handling: 

try: 
    file = open('test.txt', 'r')
    content = file.read()
    a=b # Just raiseing the exception on purpose.
    print(content)
except FileNotFoundError:
    print('The file does not exists')
except Exception as exe:
    print(exe)

else: 
    print(">>>>>>>> We Also closing the file")
finally: 
    if 'file' in locals() or not file.closed():
        file.close()
        print('>>>>>>>> file close')

name 'b' is not defined
>>>>>>>> file close

## Refer Next File : Section_11.ipynb