In [2]:
lst = [i for i in range(1,21)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
lst_1st= lst[0]
lst_last = lst[-1]
lnt = len(lst)
if lnt%2 ==0:
    lst_middle = [lst[(lnt//2) -1],lst[lnt//2]]
else: 
    lst_middle = lst[lnt//2]

lst_middle

[10, 11]

In [7]:
import random
rand_int = [random.randint(1,10) for _ in range(10)]
rand_int

[6, 10, 9, 3, 7, 10, 8, 8, 10, 1]

In [11]:
sort_lst = sorted(rand_int)
sort_lst

[1, 3, 6, 7, 8, 8, 9, 10, 10, 10]

In [14]:
count_lst = {k:sort_lst.count(k) for k in sort_lst}
count_lst

{1: 1, 3: 1, 6: 1, 7: 1, 8: 2, 9: 1, 10: 3}

In [15]:
rem_dup = [k for k,v in count_lst.items() if v==1]
rem_dup

[1, 3, 6, 7, 9]

In [17]:
sort_rand_int = sorted(rand_int, reverse=True)
sort_rand_int

[10, 10, 10, 9, 8, 8, 7, 6, 3, 1]

In [19]:
unique = list(set(sort_rand_int))
unique

[1, 3, 6, 7, 8, 9, 10]

In [16]:
new_lst = []
for i in range(3):
    new_lst.append([ j for j in range(3)])
print(new_lst)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [23]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sort_stu = sorted(students, key=lambda x:x['score'], reverse=True)
for i in sort_stu:
    print(i)

{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

In [25]:
# Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

def transpose_matrix(matrix):
    return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(transpose_matrix(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [26]:
# Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def flatter_func(matrix):
    return [ j for i in matrix for j in i]
print(flatter_func(matrix))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipp  = list(zip(list1,list2))
zipp

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [31]:
lst1, lst2 = list(zip(*zipp))
print(lst1, lst2)

(1, 2, 3, 4, 5) ('a', 'b', 'c', 'd', 'e')

In [ ]:
# Write a function that rotates a list by n positions. Print the original and rotated lists.

original_list = [1, 2, 3, 4, 5]

def rotate_lst(lst, n):
    
    for _ in range(n):
        fst_ele = lst.pop(0)
        lst.append(fst_ele)
    return lst
print(rotate_lst(original_list, 2))

[3, 4, 5, 1, 2]

In [37]:
# Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

inter_lst = [i for i in list1 if i in list2]
inter_lst

[3, 4, 5]

In [39]:
# Write a function that rotates a list by n positions. Print the original and rotated lists.

original_list = [1, 2, 3, 4, 5]

def rotate_lst(lst, n):
    pop_item = []
    for _ in range(n):
        fst_ele = lst.pop(0)
        pop_item.append(fst_ele)
    lst.extend(pop_item)
    return lst
print(rotate_lst(original_list, 2))

[3, 4, 5, 1, 2]